#title {
	text-align: center;
}

#title2 {
	text-align: center;
}

.ccvv {
	padding-left: : 50px;
	padding-top: 10px;
}

.para1 {
	padding-left: : 50px;
	padding-top: 10px;
	margin-bottom: 0px;
	padding-bottom: 10px;
	background-color:#424242;
	color: #d7ccc8;
}

.parallax-container {
	margin-left: 0px;
}

.para2 {
	background-color:#424242;
	margin-top: 0px;
}

.ccvv {
	background-color:#424242;
	padding-bottom: 10px;
	color: #d7ccc8;
}

#body {
	overflow : hidden;
}